{% extends 'base.html' %}
{% block body %}
 <!-- partial -->
 <div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Product Categories</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/login_admin_user">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Product Categories</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8 grid-margin stretch-card text-right"><h4 class="card-title">Product Categories</h4></div>
              <div class="col-lg-4 grid-margin stretch-card2 text-right"><a href="add_category" class="btn btn-primary mr-2">Add Category</a></div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Name Of Category</th>
                    {% comment %} <th>Brands Name</th> {% endcomment %}
<!--                            <th>View</th>-->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for data in categories %}
                  <tr>
                    <td>{{data.category}}</td>
                      {% comment %} <td>
                        {% for brand in data.brand.all %}
                        {{brand}},
                        {% endfor %}
                      </td> {% endcomment %}
                    <td>
                      <a href="{% url 'admin_edit_category' data.category_id %}" class="btn btn-success btn-sm"><i class="mdi mdi-account-edit"></i></a>
                      <a title="DELETE" href="#" class="btn btn-danger btn-sm delete_category_data" data-toggle="modal" data-target="#delete"
                      data-id="{{data.category_id}}"><i class="mdi mdi-delete"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Next door Rental 2022</span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- Modal -->
<div class="modal fade" id="delete" role="dialog">
<div class="modal-dialog modal-sm">

<!-- Modal content-->
<form action="delete_category" method="post" >
<div class="modal-content">
<div class="modal-header">
  <h4 class="modal-title">Delete</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  
</div>
<div class="modal-body">
  <p>Are you sure you want to Delete?</p>
  <input type="hidden" name="category_id" class="form-control remove_description_id" id="accomplishment_id"/>
</div>
<div class="modal-footer">

  <button type="button" class="btn btn-light" data-dismiss="modal">NO</button>
  <button type="button" onclick="delete_category_data()" class="btn btn-primary mr-2" data-dismiss="modal">YES</button>
</div>
</div>
</form>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="logout" role="dialog">
<div class="modal-dialog modal-sm">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
  <h4 class="modal-title">Logout</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  
</div>
<div class="modal-body">
  <p>Are you sure you want to logout?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" data-dismiss="modal">NO</button>
  <a href="admin_logout" class="btn btn-primary mr-2"> YES</a>
</div>
</div>

</div>
</div>
<script>
  // Delete Product category 
  $(document).on("click",".delete_category_data",function() {
    console.log("Working")
      let { id } = $(this).data();
      console.log(id)
      $('.remove_description_id').val(id);

  });

function delete_category_data(){
  var inputVal = document.getElementById("accomplishment_id").value;
  console.log("Yes Button hit")
  console.log(inputVal);
  var a = "http://54.89.50.153:7070/delete_category/";
  var c = a + inputVal;
  console.log(c);
  window.location.href = c;

}
</script>
{% endblock  %}
