{% extends 'base.html' %}
{% block body %}
 <!-- partial -->
 <div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Notification</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/login_admin_user">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page"> Notification</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            <strong></strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8 grid-margin stretch-card text-right">
                <button type="button" class="btn btn-success" id="button">Export</button>
              </div>
              <div class="col-lg-4 grid-margin stretch-card2 text-right"><a href="admin_add_notification" class="btn btn-primary mr-2">Add Notification</a></div>
            </div>
            <div class="">
              <table id="example" class="table table-bordered display nowrap example" style="width:100%; height: 100%;">
                <thead>
                  <tr>
                    <th>Sno</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for data in notif_list %}
                  <tr>
                    <td>{{data.id}}</td>
                    <td>{{ data.title }}</td>
                    <td>{{ data.content }}</td>
                    <td>
                      <a href="{% url 'edit_notifications' data.id %}" class="btn btn-success btn-sm"><i class="mdi mdi-account-edit"></i></a>
                      <a href="delete_Notification/{{ data.id }}" class="btn btn-danger btn-sm"><i class="mdi mdi-delete"></i></a>
                    </td>
                  </tr>
              {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:../../partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Next door Rental 2022</span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- Modal -->
<div class="modal fade" id="delete" role="dialog">
<div class="modal-dialog modal-sm">




</div>
</div>
<!-- Modal -->
<div class="modal fade" id="logout" role="dialog">
<div class="modal-dialog modal-sm">

<!-- Modal content-->
<div class="modal-content">
<div class="modal-header">
  <h4 class="modal-title">Logout</h4>
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  
</div>
<div class="modal-body">
  <p>Are you sure you want to logout?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" data-dismiss="modal">NO</button>
  <a href="admin_logout" class="btn btn-primary mr-2"> YES</a>
</div>
</div>

</div>
</div>
{% block js %}
<script>
  // Delete Product category
  $(document).on("click",".delete_tcs_data",function() {
    console.log("Working")
      let { id } = $(this).data();
      console.log(id)
      $('.remove_description_id').val(id);

  });
  $(document).ready(function () {
    $('#example').DataTable({
        scrollY: true,
        scrollX: true,
        dom: 'Bfrtip',
        buttons: [
        'excelHtml5',
        ],
    });

  });

function delete_category_data(){
  var inputVal = document.getElementById("list_id").value;
  console.log("Yes Button hit")
  console.log(inputVal);
  var a = "/delete_tcs/";
  var c = a + inputVal;
  console.log(c);
  window.location.href = c;

}
</script>

{% endblock  %}
{% endblock  %}
