<!DOCTYPE html>
<html lang="en">
  
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Next door Rental</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../static/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="../static/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../static/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile border-bottom">
            <a href="#" class="nav-link flex-column">
              <div class="nav-profile-image">
                <img src="{{ profile_image }}" alt="profile" />
                <!--change to offline or busy as needed-->

              </div>
              <div class="nav-profile-text d-flex ml-0 mb-3 flex-column">
<!--                <h1>ADMIN</h1>-->
                <span class="font-weight-semibold mb-1 mt-2 text-center">{{admin_email}}</span>
              </div>
            </a>
          </li>
          <li class="nav-item pt-3">
            <a class="nav-link d-block" href="login_admin_user">
              <img class="sidebar-brand-logo" src="../static/images/logo.png" alt="" />
              <img class="sidebar-brand-logomini" src="../static/images/logo-mini.png" alt="" />
            </a>
          </li>          

          <li class="nav-item">
            <a class="nav-link" href="login_admin_user">
              <i class="mdi mdi-compass-outline menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_user_page">
              <i class="mdi mdi-account-multiple menu-icon"></i>
              <span class="menu-title">User</span>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_product_page">
              <i class="mdi mdi-baby-buggy menu-icon"></i>
              <span class="menu-title">Product</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_pickup_return_page">
              <i class="mdi mdi-van-utility menu-icon"></i>
              <span class="menu-title">Pickup & Return</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_content_page">
              <i class="mdi mdi-chart-bar menu-icon"></i>
              <span class="menu-title">Contents</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_subscription_page">
              <i class="mdi mdi-table-large menu-icon"></i>
              <span class="menu-title">Subscription</span>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="admin_rewards_page">
              <i class="mdi mdi-trophy-award menu-icon"></i>
              <span class="menu-title">Rewards</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="categories">
              <i class="mdi mdi-trophy-award menu-icon"></i>
              <span class="menu-title">Product Category</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_notification">
              <i class="mdi mdi-bell-outline menu-icon"></i>
              <span class="menu-title">Notification</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-chevron-double-left"></span>
            </button>
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              <a class="navbar-brand brand-logo-mini" href="index.html"><img src="../static/images/logo-mini.png" alt="logo" /></a>
            </div>
            
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown ml-3">
                <h3> Hi {{admin_username}} </h3>
              </li>
              <li class="nav-item dropdown ml-3">
                <a class="nav-link" id="notificationDropdown" href="#" data-toggle="dropdown">
                  <i class="mdi mdi-bell-outline"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="px-3 py-3 font-weight-semibold mb-0">Notifications</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-success">
                        <i class="mdi mdi-calendar"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="preview-subject font-weight-normal mb-0">New order recieved</h6>
                      <p class="text-gray ellipsis mb-0"> 45 sec ago </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-warning">
                        <i class="mdi mdi-settings"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="preview-subject font-weight-normal mb-0">Server limit reached</h6>
                      <p class="text-gray ellipsis mb-0"> 55 sec ago </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-info">
                        <i class="mdi mdi-link-variant"></i>
                      </div>
                    </div>
                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                      <h6 class="preview-subject font-weight-normal mb-0">Kevin karvelle</h6>
                      <p class="text-gray ellipsis mb-0"> 11:09 PM </p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <h6 class="p-3 font-13 mb-0 text-primary text-center">View all notifications</h6>
                </div>
              </li>
              
              <li class="nav-item nav-profile dropdown d-none d-md-block">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  <div class="nav-profile-image">
                  <img src="{{ profile_image }}" alt="profile" width="40">
                </div>
                </a>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                 <a class="dropdown-item" href="profile.html">
                    <i class="mdi mdi-account mr-3"></i> Profile </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logout">
                    <i class="mdi mdi-logout mr-3"></i> Logout</a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Profile</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="login_admin_user">Dashboard</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xl-6 offset-xl-3 stretch-card grid-margin">
                <div class="card ">
                  <div class="card-body">
<!--                      <form action="#" method="post" enctype="multipart/form-data">-->
<!--                        {% csrf_token %}-->
<!--                        <div class="profile-img d-flex flex-column align-items-center justify-content-center mr-md-4">-->
<!--                            <div class="profile-pic">-->
<!--                                <label class="profile-label" for="profile_img">-->
<!--                                    <span><i class="fa fa-camera" aria-hidden="true"> </i></span>-->
<!--                                </label>-->
<!--                                <input id="profile_img" type="file" name="upload" accept="image/*">-->
<!--                                <img src='{{ image_src }}' id="update_profile_img" />-->
<!--                            </div>-->
<!--                            <button class="btn btn-primary px-4 py-2 mt-4" type="submit" >Upload</button>-->
<!--                        </div>-->
<!--                    </form>-->
                  <form action="upload_admin_profile" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="nav-profile-image edit-profile text-center mb-4">
                        <img src="{{ profile_image }}" alt="Upload profile" width="160">
                        <span>
                          <input id="profile_img" type="file" name="upload" accept="image/*">
                          <i class="mdi mdi-camera"></i>
                        </span>
                          <button class="btn btn-primary px-4 py-2 mt-4" type="submit" >Upload</button>
<!--                        change to offline or busy as needed-->
                      </div>
                      </form>
                      <div class="nav-profile-text text-center">
<!--                        <h4 class="font-weight-semibold mb-1 mt-2 text-center">Antonio Olson</h4>-->
<!--                        <h1>ADMIN</h1> -->
                        <h2 style="color: #c4aa7e" > {{ admin_email }} </h2>
                      </div>
                    
                  </div>
                </div>
              </div>
             
             
            </div>
          </div>
          <!-- content-wrapper ends -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Next door Rental 2022</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->


     <!-- Modal -->
  <div class="modal fade" id="logout" role="dialog">
    <div class="modal-dialog modal-sm">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Logout</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <p>Are you sure you want to logout?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">NO</button>
          <a href="admin_logout" class="btn btn-primary mr-2"> YES</a>
        </div>
      </div>
      
    </div>
  </div>

  
    <!-- plugins:js -->
    <script src="../static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../static/vendors/select2/select2.min.js"></script>
    <script src="../static/vendors/typeahead.js/typeahead.bundle.min.html"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../static/js/off-canvas.js"></script>
    <script src="../static/js/hoverable-collapse.js"></script>
    <script src="../static/js/misc.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../static/js/file-upload.js"></script>
    <script src="../static/js/typeahead.js"></script>
    <script src="../static/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>

</html>