{% extends 'base.html' %}
{% block body %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">Notification</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/login_admin_user">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Notification</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-6 grid-margin mx-auto">
        <div class="card">
          <div class="card-body">
            
            <form method="post" action="send_notification">
              {% csrf_token %}
              <div>
               
                  <div class="mb-3">
                    <label class="form-label">Select Notification Title</label>
                    <select name="title" id="title" class="form-select form-control" aria-label="Default select example" required>
                      <option value="">Select Plans Type</option>
                      <option value="Your Account">Your Account</option>
                      <option value="Accounts alert">Accounts alert </option>
                        <option value="Your receive recommendation">Your receive recommendation</option>
                        <option value="NDR Community">NDR Community</option>
                        <option value="Receive updates from customer Q+A reviews, follow and more">Receive updates from customer Q+A reviews, follow and more</option>
                        <option value="Others">Others</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <input type="text" name="demo" class="d-none form-control" id="other-input" placeholder="Write Here...."/>
                    </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Write Something Here..</label>
                  <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                
            </div>
            
            <br>

            <button type="submit" class="btn btn-primary mr-2"> Send Notification </button>
           
            </form>
            

          </div>
        </div>
        
      </div>
     
    </div>
  </div>
  <!-- content-wrapper ends -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © Next door Rental 2022</span>
    </div>
  </footer>
  <!-- partial -->
</div>
<!-- main-panel ends -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- Modal -->
{% include 'notification-pop-up.html' %}


<!-- End custom js for this page -->

{% endblock  %}